[Container]
Label=app=immich
PodmanArgs=--pod immich
ContainerName=immich_machine_learning
EnvironmentFile=immich.env
Image=immich-machine-learning.image
Volume=immich-machine-learning.volume:/cache

HealthCmd=["/bin/bash", "-c", "exec 5<>/dev/tcp/127.0.0.1/3003"]
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
Notify=healthy
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=90

[Install]
WantedBy==multi-user.target default.target