[Unit]
Requires=immich-server.service
After=immich-server.service

[Container]
Label=app=immich
PodmanArgs=--pod immich
ContainerName=immich_nginx
Image=docker.io/nginx:1.27-alpine3.20
AutoUpdate=registry
Volume=%h/nginx:/etc/nginx/conf.d:ro

HealthCmd=["/bin/sh", "-c", "curl http://localhost:8080/health"]
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=30s
HealthRetries=10
Notify=healthy

[Service]
Restart=always

[Install]
WantedBy==multi-user.target default.target
